<div class="main">
  <div class="jumbotron">
    <h1>Escape the scary house!</h1>
  </div>
  <h2>Let's, begin you are stuck in the basement</h2>
  <button type="button" name="button" class="btn btn-default">
    <a href="/maze1">Begin</a>
  </button>
</div>
