<form  action="/output" method="post">
  <div class="form-group">
  <label for="first_page">Are you ready?</label>
  <select class="form-control" name="first_page">
    <option value="begin">Yes</option>
  </select>
  </div>
  <!-- <div class="form-group">
    <label for="riddle1"></label>
    <select class="form-control" name="val2">
      <option value="correct"></option>
      <option value="incorrect"></option>
    </select>
  </div> -->
  <!-- <button type="button" name="button">Go</button> -->
</form>
