<div class="entryway">  
  <div class="jumbotron">
    <h1>Entryway</h1>
  </div>
  <button type="button" name="button" class="btn btn-default">
    <a href="/maze5">Go out the front door!</a>
  </button>
  <button type="button" name="button" class="btn btn-default">
    <a href="/maze1">Go back downstairs</a>
  </button>
</div>
