<div class="upstairs">  
  <div class="jumbotron">
    <h1>Upstairs</h1>
  </div>
  <button type="button" name="button" class="btn btn-default">
    <a href="/maze4">Go down the hallway</a>
  </button>
  <button type="button" name="button" class="btn btn-default">
    <a href="/maze6">Go out the back door</a>
  </button>
</div>
