<div class="window">
  <div class="jumbotron">
    <h1>Can't fit through the window</h1>
  </div>
  <button type="button" name="button" class="btn btn-default">
    <a href="/maze1">Dead End! Go back, quick!</a>
  </button>
</div>
