<div class="dog">
  <div class="jumbotron">
    <h1>Scary dog outside, have to go back!</h1>
  </div>
  <button type="button" name="button" class="btn btn-default">
    <a href="/maze3">Oops, dead end. Go back!</a>
  </button>
</div>
