
.main {
  background-image: url("../img/house.jpg");
}

.kitchen {
  background-image: url("../img/kitchen.jpg");
}

.window {
  background-image: url("../img/window.jpg");
}

.upstairs {
  background-image: url("../img/upstairs.jpg");
}

.dog {
  background-image: url("../img/dogs.jpg");
}

.entryway {
  background-image: url("../img/entryway.png");
}

.safety {
  background-image: url("../img/safety.jpg");
}
.container {
  height: 100vh;
  width: 100%;
}

.main, .kitchen, .window, .safety, .entryway, .dog, .upstairs {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  height: inherit;
}

.jumbotron {
  background-color: black;
  text-align: center;
  margin-top: 40px;
}
a {
  color: black;
}
