body {
  background-image: url("../img/house.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.jumbotron {
  background-color: black;
  text-align: center;
  margin-top: 40px;
}
a {
  color: black;
}
